@{
    ViewBag.Title = "Pagino de inicio";
}

<div class="jumbotron">
    <h1>Vidly</h1>
    <p class="lead">Aplicacion para el registro de peliculas alquiladas en la tienda</p>
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Clientes</h2>
        <p>Aqui podemos ver los clientes registrados en la base de datos.</p>
    </div>
    <div class="col-md-4">
        <h2>Peliculas</h2>
        <p>Aqui podras ver el catalogo de peliculas que puedes ofrecer al cliente.</p>
    </div>
    <div class="col-md-4">
        <h2>Registrar un alquiler</h2>
        <p>Aqui deberas registrar cuando un cliente realiza un alquiler</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p>@Html.ActionLink("Has clic aqui", "Index", "Customers", null, new { @class = "btn btn-default", role = "button" })</p>
    </div>
    <div class="col-md-4">
        <p>@Html.ActionLink("Has clic aqui", "Index", "Movies", null, new { @class = "btn btn-default", role = "button" })</p>
    </div>
    <div class="col-md-4">
        <p>@Html.ActionLink("Has clic aqui", "New", "Rentals", null, new { @class = "btn btn-default", role = "button" })</p>
    </div>
</div>