@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>Peliculas</h2>

<div style="margin: 10px 0px 10px 0px">
    @Html.ActionLink(linkText: "Añadir pelicula", actionName: "New", routeValues: null, htmlAttributes: new { @class = "btn btn-primary", role = "button" })
</div>

<table id="movies" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Pelicula</th>
            <th>Genero</th>
            <th>Eliminar</th>
        </tr>
    </thead>
</table>

@section scripts
{
    <script>
        $(document).ready(() => {
            var table = $("#movies").DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: (data, type, movie) =>
                        {
                            return "<a href='/movies/edit/" + movie.id + "'>" + movie.name + "</a>"
                        }
                    },
                    {
                        data: "genre.name"
                    },
                    {
                        data: "id",
                        render: (data) =>
                        {
                            return "<button class='btn btn-link js-delete' data-movie-id=" + data + ">Eliminar</button>";
                        }
                    }
                ]
            })
        
            $("#movies").on("click", ".js-delete", function () {
                var button = $(this)
                bootbox.confirm("Esta seguro que desea borrar esta pelicula?", (result) => {
                    if (result) {
                        $.ajax({
                            url: "/api/movies/" + button.attr("data-movie-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                })
            })
        })
    </script>    
}